*{
    margin: 0;
    padding: 0;

}


.app_header{
    width: 100%;
    background-color: #004b84;
    padding: 20px;
    text-align: center;
    color: white;
}

div{
    width: 60%;
    padding: 30px;
}

img{
    min-width: 325px;
    width: 70%;
}

button{
    padding: 10px;
    border: none;
}

table, th, td{
    border: 1px solid;
    padding: 10px;
}